@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    font-family: 'Martel Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.border:hover{
    border: 2px solid white;
}

body{
    background-color: black;
}

.main{
    background-image: url(images/bg.jpg);
    height: 70vh;
    background-position: center center;
    background-size: max(1000px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    top: 0;
    position: absolute;
    background-color: black;
}

nav{
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 62px;
}

nav img{
    color: red;
    width: 148px;
    height: 48px;
    position: relative;
    z-index: 10;

}

nav select{
    height: 32px;
    width: 127px;
    border-radius: 5px;
    border: 2px solid rgb(109, 106, 106);
    text-align: center;
    font-weight: bolder;
    background-color: black;
    color: white;
    position: relative;
    z-index: 10;
}

nav button{
    height: 32px;
    width: 77px;
    font-weight: bolder;
    border-radius: 5px;
    border: 2px solid red;
    background-color: red;
    color: white;
    position: relative;
    z-index: 10;
}

.front-text{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    position: relative;
    z-index: 10;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 0 30px;
}

.front-text> :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.front-text> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.front-text> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.emailaddress{
    height: 35px;
    width: 338px;
    background-color: rgba(23,23,23,0.5);
    color: white;
    border: 2px solid rgba(246,238,238,0.5);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
    padding: 9px 9px 8px 30px;
}

.get-started{
    height: 56px;
    width: 207px;
    background-color: red;
    font-size: larger;
    font-weight: bolder;
    color: rgb(246, 240, 240);
    border: 2px solid red;
    border-radius: 5px;
    margin-left: 10px;
}

.separation{
    height: 7px;
    background-color: rgb(40, 38, 38);
}

/* 2nd box */

.first{
    color: white;
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 72px;

}

.secImg{
    position: relative;
}

.secImg img{
    width: 555px;
    position: relative; 
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}

.first > div :nth-child(2){
    font-size: 24px;
    font-weight: bolder;
}

.faq h2{
    font-weight: bolder;
    text-align: center;
    font-size: 48px;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox:hover{
    background-color: #414141;
    color: white;
}

.faqbox{
    transition: all 0.4s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 70vw;
    margin: 14px auto;
    cursor: pointer;
}

.front-text2{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    position: relative;
    z-index: 10;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 0 30px;
}

.front-text2> :nth-child(1){
    margin-top: 60px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}


/* footer */
footer{
    margin-top: 15px;
}

.foot-panel1{
    text-align: start;
    padding-top: 56px;
    padding-left: 135px;
    color: rgb(190, 190, 190);
    height: 50px;
    font-size: 0.85rem;
}

.foot-panel2{
    padding-right: 220px;
    text-decoration: underline;
    color: rgb(139, 117, 117);
    height: 150px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: rgb(182, 180, 180);
}

.last-language{
    height: 32px;
    width: 127px;
    border-radius: 5px;
    border: 2px solid rgb(109, 106, 106);
    text-align: center;
    font-weight: bolder;
    background-color: black;
    color: white;
}

@media screen and (max-width: 1300px){

    nav{
        max-width: 90vw;
    }

    .first{
        flex-wrap: wrap;
    }

    .secImg img{
        width: 305px;
    }
    
    .secImg video {
        width: 305px;
    }

    .front-text> :nth-child(1){
        font-size: 32px;
    }

    .front-text> :nth-child(2){
        font-size: 18px;
    }

    .front-text> :nth-child(3){
        font-size: 18px;
    }

    .get-started{
        font-size: 18px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .faq h2{
        text-align: center;
        font-size: 32px;
    }

    footer{
        max-width: 90vw;
    }
}

@media screen and (max-width: 500px){
    .foot-panel2{
        display: flex;
        flex-direction: column;
        color: rgb(193, 189, 189);
        gap: 30px;
    }
}

@media screen and (max-width: 1300px{
    .last-language{
        display: block;
        flex-direction: column;
        color: rgb(193, 189, 189);
    }
}




 
