*{
    padding: 0;
    margin: 0;
}

.main{
    background-image: url(images/bg.jpg);
    height: 80vh;
    background-position: center center;
    background-size: max(1000px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.48;
    top: 0;
    position: absolute;
    background-color: black;
}

nav{
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 62px;
}

nav img{
    color: red;
    width: 148px;
    height: 48px;
    position: relative;
    z-index: 10;

}

nav select{
    height: 32px;
    width: 127px;
    border-radius: 5px;
    border: 2px solid rgb(109, 106, 106);
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    z-index: 10;
}

nav button{
    height: 32px;
    width: 77px;
    border-radius: 5px;
    border: 2px solid red;
    background-color: red;
    color: white;
    position: relative;
    z-index: 10;
}